<div id="detailsCustomerModal" class="hidden fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                            Détails du client
                        </h3>
                        <div class="mt-2">
                            <div>
                                <p><b id="customer_modal_name"></b></p>
                                <p><span id="customer_modal_phone"></span></p>
                                <p><span id="customer_modal_email"></span></p>
                                <br>
                                <p>Dernier achat <span id="customer_modal_last_visit_store"></span></p>
                            </div>

                            <div class="mt-10">
                                <p class="text-xl font bold">Offres Attribué</p>

                                <div id="offer_link"></div>

                                <form id="customer_offer_form" method="post" class="w-full">
                                    <input type="hidden" name="_token" value="{{ csrf_token('offer_customer') }}">
                                    <div class="w-full flex">
                                        <select name="offer[id]" id="offer_id" class="pl-3 bg-gray-50 w-full h-10 rounded-l-md shadow-lg" required>
                                            {% for offer in offers %}
                                                <option value='{{ offer.id }}'>{{ offer.title }}</option>
                                            {% else %}
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="offer[customer]" id="offer_customer" required>
                                        <button class="1/5 h-10 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm" type="submit">Ajouter</button>
                                    </div>
                                </form>
                            </div>
                            <br>
                            <div class="flex justify-end">
                                <button onclick="detailsCustomerModal()" type="button" class="bg-gray-600 py-1 px-3 text-white rounded-md shadow-md border border-gray-200 mr-5">
                                    Fermer
                                </button>
                                <form id="form_after_visit_store" method="post">
                                    <input type="hidden" name="_token" value="{{ csrf_token('offer_after_visit_store') }}">
                                    <button type="submit" class="bg-green-600 py-1 px-3 text-white rounded-md shadow-md border border-gray-200 mr-5">
                                        Client passé au magasin
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function detailsCustomerModal(id = null) {
        let modal = document.getElementById('detailsCustomerModal');
        modal.classList.toggle('hidden');

        document.getElementById('customer_offer_form').setAttribute('action', 'http://127.0.0.1:8000/clients/offre/' + id)

        let url = 'http://127.0.0.1:8000/clients/'+id;
        fetch(url, {
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            method: 'GET',
        })
            .then((resp) => resp.json())
            .then( function(data) {
                console.log(data)
                document.getElementById('customer_modal_name').textContent = data.name;
                document.getElementById('customer_modal_phone').textContent = (data.phone == null) ? 'N/C' : '0' + data.phone;
                document.getElementById('customer_modal_email').textContent = data.email;
                let last_store_visit = new  Date(data.last_store_visit);
                document.getElementById('customer_modal_last_visit_store').textContent = last_store_visit.toLocaleDateString("fr");

                document.getElementById('form_after_visit_store').setAttribute('action', 'http://127.0.0.1:8000/clients/visite_magasin/'+data.id);

                let offer_div = document.getElementById('offer_link');
                while (offer_div.firstChild) {
                    offer_div.removeChild(offer_div.firstChild);
                }

                for(offer in data.offers) {
                    let div = document.createElement('div');
                    let p = document.createElement('p');
                    let a = document.createElement('a');

                    p.textContent = data.offers[offer];
                    a.textContent = "Supprimer";
                    a.href = "http://127.0.0.1:8000/clients/offre/"+data.id+"/"+offer;

                    offer_div.appendChild(div);
                    div.appendChild(p);
                    div.appendChild(a);

                    offer_div.classList.add('mb-5')
                    div.classList.add('flex')
                    div.classList.add('justify-between')
                    div.classList.add('mt-2')
                    p.classList.add('bg-green-600')
                    p.classList.add('px-3')
                    p.classList.add('py-1')
                    p.classList.add('rounded-md')
                    p.classList.add('text-white')
                    a.classList.add('text-red-500')
                    a.classList.add('hover:text-red-600')
                    a.classList.add('hover:font-bold')
                }
            })

        document.getElementById('offer_customer').value = id;
    }
</script>